<!-- Begin SideBar-->
<div
  class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
  data-scroll-to-active="true"
>
  <div class="main-menu-content">
    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
      <li class="nav-item active">
        <a href="/dashboard/dashpored"
          ><i class="la la-mouse-pointer"></i
          ><span class="menu-title" data-i18n="nav.add_on_drag_drop.main"
            >الرئيسية
          </span></a
        >
      </li>

      <li class="nav-item">
        <a href=""
          ><i class="la la-home"></i>
          <span class="menu-title" data-i18n="nav.dash.main">الادمن</span>
          <span
            class="badge badge badge-info badge-pill float-right mr-2"
          ></span>
        </a>
        <ul class="menu-content">
          <li class="">
            <a
              class="menu-item"
              href="/dashboard/allAdmins/"
              data-i18n="nav.dash.ecommerce"
            >
              عرض كل الادمن
            </a>
          </li>
          <li class="">
            <a
              class="menu-item"
              href="/dashboard/addAdmin"
              data-i18n="nav.dash.crypto"
              >أضافة ادمن
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!--End Sidebare-->
